<div dragScroll class='task-panel'>
  <div class='container-scrollable'>
    <div style='display:inherit' *ngIf='_tasks'>
      <div *ngFor='let task of _tasks; let i = index' class='panel panel-default task-card'>
        <div class='card-header'>{{task.name}}</div>
        <div *ngFor='let subTask of task.body '>
          <div droppable draggable id='card-body' *ngIf="task.completness=='paused'" class='card-body paused'>
            <div class='buttons-container'>
              <button class='btn btn-sm btn-success round' (click)='setTaskFinished(task)'></button>
              <button class='btn btn-sm btn-warning round' (click)='setTaskWorking(task)'></button>
              <button class='btn btn-sm btn-danger round' (click)='setTaskPaused(task)'></button>
            </div>
            <br/>
            <div class='card-content'>
              <span>{{subTask}}</span>
          </div>
        </div>

        <div droppable draggable id='card-body' *ngIf="task.completness=='working'" class='card-body working'>
          <div class='buttons-container'>
            <button class='btn btn-sm btn-success round' (click)='setTaskFinished(task)'></button>
            <button class='btn btn-sm btn-warning round' (click)='setTaskWorking(task)'></button>
            <button class='btn btn-sm btn-danger round' (click)='setTaskPaused(task)'></button>
          </div>
          <br/>
          <div class='card-content'>
            <span>{{subTask}}</span>
          </div>
        </div>

        <div droppable draggable id='card-body' *ngIf="task.completness=='finished'" class='card-body finished'>
          <div class='buttons-container'>
            <button class='btn btn-sm btn-success round' (click)='setTaskFinished(task)'></button>
            <button class='btn btn-sm btn-warning round' (click)='setTaskWorking(task)'></button>
            <button class='btn btn-sm btn-danger round' (click)='setTaskPaused(task)'></button>
          </div>
          <br/>
          <div class='card-content'>
            <span>{{subTask}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>




<!-- <div class=''>
  <div class='float-right'>
    <chat></chat>
  </div>
</div> -->